* :focus{
    outline: none;
}
*{
    border-radius: 5px;
}
div{
    display: block;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh
}

#timerSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey; 
    height: 15vh;
    margin-bottom: 5%;
}
#work{
    margin-left: 15%;
    border: 2px solid black;
    width: 25%;
    height: 75%;
}
#break{
    margin-right: 15%;
    border: 2px solid black;
    width: 25%;
    height: 75%;
}
#timer-container{
    width: 30%;
}

#playSettings{
    display: flex;
    margin-bottom: 10px;
    min-width: 100%;
    text-align: center;
    background-color: grey;
    margin-top: 15px;
    padding: 20px 0 20px 0;
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
#session{
    width: 100%;
    text-align: center;
    background-color: grey;
    font-size: 100px;
}
.time-left{
    font-size: 100px;
}

.button-play {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
  }
  .button-paused {
    border-style: double;
    border-width: 0 0 0 60px;
  }
  .button-play:hover {
    border-color: transparent transparent transparent #404040;
  }
  .button-paused:hover{
    border-color: transparent transparent transparent #404040;
  }
  

  #stopButton{
      text-emphasis: none;
      border: 0;
      width: 0;
      background-color: #202020;
      border-color: #202020;
      border-style: solid;
      border-width: 37px;
      box-sizing: border-box;
      cursor: pointer;
  }
  #stopButton:hover{
      border-color: #404040;
      background-color: #404040;
  }
  #stop{
      margin-right: 15%;
  }
  #start{
      margin-left: 15%;
  }
  .incdec{
      color: aliceblue;
      box-sizing: border-box;
      text-decoration: none;
      font-size: 32px;
      letter-spacing: 10px;
    
  }
  #workVal,#breakVal{
      font-size: 25px;
      margin-top: 5%;
      margin-bottom: 5%;
  }
  b{
      text-decoration: underline;
  }
